<div class="banner mb-5">
    <div class="banner-content">
        <h1>Chào mừng đến với cửa hàng của chúng tôi!</h1>
        <p>Khám phá những sản phẩm mới nhất và nổi bật nhất.</p>
    </div>
</div>
<div class="container-fluid mt-5 mb-5">
    <h2 style="color: #444;" class="title">Những Sản Phẩm Mới Nhất</h2>
    <div class="card-all">
        <div class="row g-0"> 
            <ng-container *ngIf="productList$ | async">
                <div *ngFor="let item of filterProduct" class="col-12 col-md-6 col-lg-4">
                    <div class="card-container">
                        <a [routerLink]="['/shop/products/', item.id]" class="card-item">
                            <img [src]="item.images[0]?.imageUrl" alt="{{item.description}}" class="card-img front">
                            <img [src]="item.images[1]?.imageUrl" alt="{{item.description}}" class="card-img back">
                            <div class="card-content">
                                <p class="price">{{item.price | currency}}</p>
                                <h3 class="title">{{item.name}}</h3>
                            </div>
                        </a>
                    </div>
                </div>
            </ng-container>
        </div>
    </div>
</div>

<div class="product-types mt-4">
    <h2 style="color: #444;" class="title">Đa dạng các Loại Sản Phẩm</h2>
    <div class="product-type-container">
        <div *ngFor="let item of categories$ | async" class="product-type">
            <a href="#" (click)="$event.preventDefault()" style="cursor: default;" class="product-type-card">
                <img [src]="item.imageUrl" alt="{{item.description}}" class="product-type-icon">
                <p class="product-type-name">{{item.name}}</p>
            </a>
        </div>
    </div>
</div>
<div class="store-introduction">
    <h2 class="store-title">Khám Phá Cửa Hàng Của Chúng Tôi</h2>
    <div class="store-content">
            <div class="store-images">
                <div *ngFor="let item of filterProduct;" class="image-wrapper">
                    <img [src]="item.images[1]?.imageUrl" alt="Product 1" class="store-image">
                </div>
            </div>
        <div class="store-description">
            <p>Chúng tôi tự hào là một trong những cửa hàng hàng đầu cung cấp các sản phẩm nội thất chất lượng cao. Với một bộ sưu tập đa dạng, từ ghế sofa hiện đại đến bàn ăn truyền thống, chúng tôi cam kết mang đến cho khách hàng những trải nghiệm mua sắm tuyệt vời nhất.</p>
            <p>Đội ngũ của chúng tôi luôn sẵn sàng hỗ trợ và tư vấn cho bạn để tìm được sản phẩm phù hợp nhất với không gian sống của bạn.</p>
        </div>
    </div>
</div>
<div class="spinner-overlay" *ngIf="isLoading$ | async">
    <mat-spinner></mat-spinner>
</div>