<div class="main-content-wrapper d-flex clearfix">
    <div class="mobile-nav">
        <!-- Navbar Brand -->
        <div class="amado-navbar-brand">
            <a href="index.html"><img src="assets/client/img/core-img/logo.png" alt=""></a>
        </div>
        <!-- Navbar Toggler -->
        <div class="amado-navbar-toggler">
            <span></span><span></span><span></span>
        </div>
    </div>
    <header class="header-area clearfix">
        <!-- Close Icon -->
        <!-- Logo -->
        <div class="logo">
            <a href="index.html"><img src="assets/client/img/core-img/logo.png" alt=""></a>
        </div>
        <!-- Amado Nav -->
        <nav class="amado-nav">
            <ul>
                <li class="active"><a href="index.html">Trang chủ</a></li>
                <li><a href="shop.html">Cửa hàng</a></li>
            </ul>
        </nav>
        <!-- Button Group -->
        <div class="amado-btn-group mt-30 mb-100">
            <a href="#" class="btn amado-btn mb-15">Đăng ký</a>
            <a href="#" class="btn amado-btn">Đăng nhập</a>
        </div>
        <!-- Cart Menu -->
        <div class="cart-fav-search mb-100">
            <a href="cart.html" class="cart-nav"><img src="assets/client/img/core-img/cart.png" alt=""> Giỏ hàng <span>(0)</span></a>
            <a href="#" class="fav-nav"><img src="assets/client/img/core-img/favorites.png" alt=""> Phổ biến</a>
        </div>
        <!-- Social Button -->
        <div class="social-info d-flex justify-content-between">
            <a href="#"><i class="fa-brands fa-square-pinterest"></i></a>
            <a href="#"><i class="fa-brands fa-instagram"></i></a>
            <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
            <a href="#"><i class="fa-brands fa-twitter"></i></a>
        </div>
    </header>
    <div class="products-catagories-area clearfix">
        <div class="amado-pro-catagory clearfix">
            <router-outlet></router-outlet>
         </div>
    </div>
</div>













