<div class="category-container">
  <h2 class="main-header">Quản lý Danh mục</h2>

  <button (click)="moveToAddForm()" class="btn-create">+ Tạo danh mục mới</button>
  
  <div class="table-wrapper">
      <table class="category-table">
          <thead>
              <tr>
                  <th>Danh mục</th>
                  <th>Tên danh mục</th>
                  <th>Mô tả</th>
                  <th>Hành động</th>
              </tr>
          </thead>
          <tbody>
              <tr *ngFor="let item of Categories$ | async">
                  <td>
                      <img [src]="item.imageUrl" alt="{{item.description}}" class="category-image" />
                  </td>
                  <td>{{item.name}}</td>
                  <td>{{item.description}}</td>
                  <td class="action-buttons">
                      <button (click)="moveToEditform(item.id)" class="btn-action edit">Sửa</button>
                      <button (click)="handleRemove(item.id)" class="btn-action delete">Xóa</button>
                  </td>
              </tr>
          </tbody>
      </table>
  </div>

      <!-- Loading Spinner -->
      <div class="spinner-overlay" *ngIf="isloading$ | async">
        <mat-spinner></mat-spinner>
    </div>
    <div class="spinner-overlay" *ngIf="isLoadingCategory$ | async">
        <mat-spinner></mat-spinner>
    </div>
</div>
